.cardWrapper {
  position: relative;
  height: 22rem;
  width: 25rem;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  z-index: 0;
}

.cardContainer {
  position: relative;
  height: 22rem;
  width: 25rem;
  border: solid;
  border-radius: 1rem;
  flex-direction: row;
  background: linear-gradient(to bottom, #d1d1d1, #D3D0CB);
  text-align: center;
  margin: 5%;
  -webkit-user-select: none; /* Safari ou Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ ou Edge */
  user-select: none; /* Standard */
}

.iconStyle {
  stroke: black;
  stroke-width: 15;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.gridStyle {
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: -7%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.enemyGridStyle {
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -7%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nameStyle {
  margin-top: 3%;
  position: relative;
  overflow-wrap: break-word;
  color: black;
  font-family: 'Roboto Mono', monospace;
  max-width: 10ch;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.scrollStyle {
  margin: 5%;
  width: 35px;
  margin-bottom: 3%;
  position: absolute;
  left: 80%;
  top: 0%;
  z-index: 5;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.charMenuIcon {
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.charMenuIcon:hover {
  opacity: 0.8;
}

.charMenuIcon:active {
  opacity: 0.6;
}

.topContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}

.lvlExpContainer {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 3%;
  text-align: left;
  margin-left: 6%;
}

.lvlStyle {
  color: rgb(255, 255, 255);
  margin-left: 5px;
  margin: 2px;
  font-family: 'Roboto Mono', monospace;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.expStyle {
  font-size: 17px;
  margin-left: 5px;
  margin: 2px;
  color: #2cfc03;
  font-family: 'Roboto Mono', monospace;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.iconContainer {
  position: absolute;
  left: 30%;
  top: 18%;
}

.svgIconStyle {
  margin: 5%;
  width: 132px;
  margin-bottom: 3%;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  pointer-events: none;
}

.barsContainer {
  position: absolute;
  margin-bottom: -10%;
  width: 100%;
  top: 55%;
}

.gridItem {
  position: relative;
}

.statIcon {
  width: 45px;
  margin-top: -4px;
  margin-bottom: -10px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}
/* icone de str buga quando tem o segundo value de filter acima de 0px */
.warriorStatIcon {
  width: 45px;
  margin-top: -4px;
  margin-bottom: -10px;
  filter: drop-shadow(3px 0px 3px rgba(0, 0, 0, 0.6));
}

.statText {
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
  color: black;
  margin-top: 2px;
  display: inline-block;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.dmgIcon {
  width: 37px;
  margin-top: -2px;
  margin-bottom: -4px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}