.tavernContainer {
  position: relative;
  display: flex;
  overflow: auto;
  flex:'wrap';
  background-color: rgb(100, 75, 45);
  height: 25rem;
  max-width: 75rem;
  left:50%;
  transform: translate(-50%);
}

#tavernTrack > .item {
  display: flex;
}


.teamContainer {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex:'wrap';
  background-color: rgb(220, 203, 183);
  max-height: 25rem;
  max-width: 75rem;
  left:50%;
  transform: translate(-50%);
}

/* .item:nth-child(1) {
  transform: translate(75%, 0) scale(0.5);
}

.item:nth-child(2) {
  transform: translate(25%, 0) scale(0.5);
}

.item:nth-child(3) {
  transform: translate(-25%, 0) scale(0.5);
}

.item:nth-child(4) {
  transform: translate(-75%, 0) scale(0.5);
}

.item:nth-child(5) {
  transform: translate(-125%, 0) scale(0.5);
} */
