.tavernContainer {
  position: relative;
  display: flex;
  overflow: auto;
  flex:'wrap';
  background-color: rgb(100, 75, 45);
  height: 25rem;
  max-width: 75rem;
  left:50%;
  transform: translate(-50%);
}

.item {
  display: flex;
  position: relative;
}

.teamContainer {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex:'wrap';
  background-color: rgb(220, 203, 183);
  max-height: 25rem;
  max-width: 75rem;
  left:50%;
  transform: translate(-50%);
}
