.showFloorSelect {
  width: 200px;
  height: 250px;
  margin: 0px;
  margin-top: 24px;
  text-align: center;
  color:white;
  font-family: 'Roboto Mono', monospace;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
  font-size: clamp(2em, 2vw, 4em);
  font-weight: 400;
  border: none;
  z-index: 1;
  overflow-y: auto;
  scrollbar-width: none;
}

.showFloorSelect::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.customSelectSelected {
  font-size: 35px;
  border: none;
  cursor: pointer;
}

.customSelectItem {
  color:black;
  background-color: #7BE0AD;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.customSelectItem:hover {
  background-color: #AEE5D8;
  color:rgb(33, 33, 33)
}