.showFloorSelect {
  width: 200px;
  height: 250px;
  margin: 0px;
  margin-top: 24px;
  text-align: center;
  color:#7dd2ff;
  font-family: 'Roboto Mono', monospace;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
  font-size: clamp(2em, 2vw, 4em);
  font-weight: 400;
  border: none;
  z-index: 6;
  overflow-y: auto;
  scrollbar-width: none;
}

.showFloorSelect::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.customSelectSelected {
  font-size: 35px;
  border: none;
  cursor: pointer;
}

.customSelectItem {
  color:#000000;
  position: relative;
  font-size: 25px;
  left: 15%;
  width: 70%;
  background-color: #7dd2ff;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.customSelectItem:hover {
  background-color: #d1efff;
  color: white
}

.showMaxFloor {
  width: 200px;
  height: 50px;
  margin: 0px;
  margin-top: 24px;
  text-align: center;
  color:#7dd2ff;
  font-family: 'Roboto Mono', monospace;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
  font-size: clamp(2em, 2vw, 4em);
  font-weight: 400;
  font-size: 35px;
  border: none;
}
.genericBarWrapper {
  margin: 5px;
  position: relative;
}

.genericBarStandardBorder {
  border: solid;
  margin-left: 9.5%;
  margin-right: 8.5%;
  border-radius: 10px;
  position: relative;
  padding-right: 4px;
  background-color: white;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.genericBarExpBorder {
  border: 3px black solid;
  width: 100%;
  border-radius: 8px;
  position: relative;
  padding-right: 4px;
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.genericBarHp {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  margin-top: 2px;
  color: #ff2227;
}

.genericBarMp {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  margin-top: 2px;
  color: cyan;
}

.genericBarRage {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  stroke: black;
  stroke-width: 5%;
  margin: -4px;
  margin-top: -1px;
}

.genericBarStandardText {
  width: 280px;
  position: absolute;
  text-align: center;
  user-select: none;
}

.genericBarExpText {
  font-size: 18px;
  width: 350px;
  position: absolute;
  text-align: center;
  user-select: none;
}

.genericBarIconWrapper {
  width: 35px;
  height: 15px;
  position: absolute;
  text-align: left;
  margin: 4px;
  stroke: black;
  stroke-width: 10%;
}
